<div class="row">
    <div class="col-md-12 text-center">
        <p>{{ property.address }}</p>
        <p>{{ property.occupied }}</p>
        <p>Number of Bedrooms: {{ property.bedrooms }}</p>
        <p>Rent: {{ property.rent | currency : '$' : 2 }}</p>
        <p>Utilities: {{ property.utilities | currency : '$' : 2 }}</p>
    </div>
</div>

<br><br>

<div class="row" ng-hide="tenantToAdd || currentOccupancy >= limit">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" ng-click="addTenant()">Add a Tenant</button>
    </div>
</div>

<div class="row" ng-show="currentOccupancy >= limit">
    <p class="text-center italic">The maximum occupancy has been reached.</p>
</div>

<div class="row" ng-show="tenantToAdd">
    <form ng-submit="saveTenant()">
        <div class="form-group">
            <select class="form-control" ng-model="newTenant.tenant">
                <option ng-repeat="tenant in tenants" value="{{ tenant._id }}">{{ tenant.name }}</option>
            </select>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-warning" ng-click="cancelAdd()">Cancel</button>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

<br><br>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Current Tenant(s)</th>
                    <th>Remove Tenant</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tenant in property.tenants">
                    <td ui-sref="tenantdetails({id: tenant._id})">{{ tenant.name }}</td>
                    <td><button class="btn btn-default" ng-click="removeTenant(tenant)"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>